/*  Importing google fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    /* background: linear-gradient(to left, #02367B,#051650) */
    background: #02367B;
}


.start_btn, .info_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Styling */

.start_btn button{
    font-size: 25px;
    font-weight: 500;
    color: #FFFFFF;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #EFBF04;
    transition: background-color 0.5s ease, color 0.5s ease;
    cursor: pointer;
}

.start_btn button:hover{
    background-color: #FFFFFF;
    color: #EFBF04
}

.info_box{
    display: none;
    width: 540px;
    background-color: #fff;
    border-radius: 5px;
}

.info_box .info_title{
    height: 60px;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
    padding: 0 35px;
    font-size: 20px;
    font-weight: 600;
}

.info_box .info_list{
    padding: 15px 35px;
}

.info_box .info_list .info{
    margin: 5px 0;
    font-size: 17px;    
}

.info_box .info_list .info span{
    font-weight: 600;
    color: #02367B;
}

.info_box .info_bye{
    height: 35px;
    border-top: 1px solid lightgrey;
    display: flex;
    align-items: center;
    padding: 5px 35px 0 35px;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
}

.info_box .continue_exit_btn{
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 25px;
}

.info_box .continue_exit_btn button{
    background-color: #ffffff;
    color: #EFBF04;
    border-color: lightgrey;
    border-radius: 7px;
    height: 35px;
    width: 400px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    transition: background-color 0.3s ease, color 0.3s ease;
}
    
.continue_exit_btn button:hover{
    background-color: #EFBF04;
    color: #FFFFFF
}